<div>
<p>杨景</p>
<p><a href="http://weibo.com/yangbajing" target="_blank">新浪微博</a></p>
<p><a href="https://github.com/yangbajing" target="_blank">https://github.com/yangbajing</a></p>
<p><a href="mailto://yangbajing@gmail.com">yangbajing@gmail.com</a></p>
</div>
